body{
    margin: 0px;
    padding: 0px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.row{
    height: 75px;
    width: 5.93%;
    border: solid;
}


