body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    
    
}
.row{
    height: 32px;
    width: 5.7%;
    border: 1px solid;
} 

.title{
   
    font-weight: 200;
    
}


